/* common */
html {
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
  box-sizing: border-box;
}
.control-bg {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.img-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
img {
  width: 100%;
  height: auto;
  border: 0;
}
.width-setter {
  padding: 0 20px;
}
.header {
  background: linear-gradient(to bottom, #fff, #fff 25%, transparent);
}
.header-img {
  max-width: 680px;
  height: 400px;
  margin: 3rem auto;
  transform: scale(1);
  transition: all 3s ease-out;
}
.header-img:hover {
  transform: scale(1.1);
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.6em;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.header .paragraph {
  color: #fff;
}
.header {
  position: relative;
  z-index: 10;
  margin-bottom: 30vh;
}
.header .title {
  font-size: 35px;
  line-height: 39px;
  font-weight: bold;
  color: #51af65;
  text-align: center;
  padding-top: 1em;
  text-transform: uppercase;
}
.highlight {
  display: inline;
  box-shadow: inset 0 -25px 0 #435c60;
}
.scroll-content {
  position: relative;
  z-index: 10;
  margin-top: 40vh;
}
/* 3d panels */
.panels {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  perspective: 500px;
  transition: 0.5s opacity;
  background-color: #435c60;
}
.panels.static-position {
  position: static;
  margin-top: -100vh;
}
.panel-list {
  transform-style: preserve-3d;
  transition: 1s;
  will-change: transform;
}
.panel-item {
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 600px;
  max-width: 600px;
  height: 450px;
  margin: -225px 0 0 -300px;
  opacity: 0.3;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.panel-item.active {
  opacity: 1;
}
.panel-img-cover {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-size: contain;
  box-shadow: 0px 0px 20px #2f4f4f;

  /* backface-visibility: hidden; */
}
.panel-item .panel-img-cover {
  background-color: #fff;
  /* background-color: #2f4f4f; */
}
.panel-img-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: luminosity; */
}
/* list */
.list-item {
  height: 100vh;
}
.list-content {
  width: 75vw;
  margin: 0 auto;
}
.list-tit {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 45px;
  color: #36fb32;
  display: inline;
  box-shadow: inset 0 -40px 0 #435c60;
}
.list-desc {
  font-size: 1.6rem;
  line-height: 1.8em;
  margin-top: 1em;
  background-color: #fff;
  opacity: 0.85;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: 500;
}
/* normal */
.normal-content {
  padding-top: 45px;
  background-color: #dce2d8;
  padding-bottom: 45px;
}
.normal-content .inner {
  margin-bottom: 2.5em;
}
.normal-img-wrap {
  width: 90vw;
  height: 505px;
  /* background-color: #eee; */
  margin: auto;
  position: relative;
  overflow: hidden;
}

.img-wrap {
  width: 90vw;
  height: 505px;
  margin: 0em auto;
  margin-top: 0.5em;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}

.img-wrap:nth-child(1) {
  height: 500px;
}
.img-wrap.On {
  opacity: 1;
}

.page-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.image-btn {
  all: unset;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  cursor: pointer;
}
.image-btn.prev {
  background-image: url(/scooter_img/pix_prev.png);
  margin-right: 3em;
}
.image-btn.next {
  background-image: url(/scooter_img/pix_next.png);
}
.tit-medium {
  font-size: 3.8rem;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.01px;
  white-space: nowrap;
  margin-bottom: 0.5em;
}
.normal-content h3 {
  font-size: 2.2rem;
}
.small-txt {
  font-size: 2.5rem;
}
.normal-content .highlight {
  display: inline;
  box-shadow: inset 0 -15px 0 #36fb32;
}
.normal-content .paragraph {
  margin-top: 1em;
}
/* read more */
.read-more {
  background-color: #dce2d8;
  /* padding-bottom: 45px; */
  max-height: 0;
  overflow: hidden;
}
.read-more .paragraph {
  padding-bottom: 45px;
  padding-top: 20px;
}
.view-more-btn {
  all: unset;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.6em 1em;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}
.view-more-btn i {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 0.6em;
}
.view-more-btn i::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #51af65;
}
.view-more-btn i::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #51af65;
  transform: rotate(90deg);
  transition: all 0.5s;
}
.view-more-btn.On i::after {
  transform: rotate(0);
}

/* footer */
.footer {
  background-color: #243133;
}
.footer p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8em;
}
.copy-right {
  padding-top: 5rem;
  border-top: 1px solid #222;
}
/* scrollbtn */
.scrollTop {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 6%;
  opacity: 0;
  text-decoration: none;
  background-color: #51af65;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
.scrollTop i {
  transform: rotate(-90deg);
  font-size: xx-large;
  color: #dce2d8;
}
.scrollTop.On {
  opacity: 1;
}
